h1{
    text-align: center
}
#wrapper {
    margin: auto;
    max-width: 1200px;
}
#postdiv{
    display: flex;
    justify-content: space-evenly;
}
#postTweetBtn, #getTweetBtn{
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    width: 100px;
}
#getdiv {
    text-align: center;
    margin-top: 20px;
}

#tweets {
    padding: 5px;
}